bridge_tg.py
dictum_bot_users.json
dictum_verified_users.json
dictum_server_user_macros.json
.env

# Системный мусор Python
__pycache__/
*.pyc

# Логи ошибок и краш-репорты
*.log
dictum_crash_report.txt

# Виртуальное окружение
venv/
.venv/

# Результаты компиляции PyInstaller
build/
dist/
*.spec

# Личные базы данных и сессии клиента Dictum
dictum_bridge_v12.json
dictum_mqtt_config.json
dictum_tg_session.json

img/*
!img/logo.png
!img/startup.mp4
cached_voices/
*.exe